
<div style=" text-align:center">
  <h1>
    add System page
  </h1>

</div>
<div class="alert alert-danger text-center offset-sm-4 col-sm-4" style="margin-bottom: 15px" *ngIf="erralert"> {{errdata}}</div>
<form #fo="ngForm" (submit)="add(fo)" class="form_login offset-sm-5">

  <input type="text" class="form-control col-sm-4" name="name" required placeholder="Enter name system" [(ngModel)]="system.name">
  <input type="text" class="form-control col-sm-4 describe" name="describe"  placeholder="Enter describe about system" required [(ngModel)]="system.describe">

  <input type="submit" value="Add" class="btn btn-success col-sm-2 offset-1">
</form>
